---
import Layout from "src/layouts/Layout.astro";
---

<Layout>
  <div class="flex lg:flex-row flex-col p-4 items-center justify-center flex-1">
    <div class="p-8 max-w-lg w-full">
      <img
        class="mx-auto"
        src="https://picsum.photos/400/450"
        width="400px"
        height="450px"
        alt="Image de présentation de l'association"
      />
    </div>
    <div class="p-8 max-w-lg w-full">
      <h2 class="text-center text-3xl py-6">Les activités</h2>
      <p>
        Nous proposons des ateliers de 2h, où chaque personne peut parler de ses
        expériences et de ses ressentis autour d'un goûter partagé. Cela
        permettra à chacun de faire connaissance, et de s'entraîder par des
        discussions et de conseils comblés de moments de joies autour de jeux de
        sociétés et de sorties diverses !
      </p>
    </div>
  </div>

  <!--div class="flex-1 p-12 max-w-5xl self-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div-->
</Layout>
