---
import Layout from "src/layouts/Layout.astro";
import instagram from "@assets/img/instagram.png";
import instagram2 from "@assets/img/instagram.svg";
import { Image } from "astro:assets";
---

<Layout>
    <div class="flex justify-center items-center flex-1">
        <div class="inline-flex flex-col text-center items-center text-xl">
            <h3>Association Coccinelle Jaune</h3>
            <h3>27 Rue du Nivernais</h3>
            <h3>35000 Rennes</h3>
            <div class="h-9"></div>
            <h3>06.37.93.90.45</h3>
            <a href="mailto:coccinelle-jaune@gmail.com">
                <h3 class="text-blue-800 underline">coccinelle-jaune@gmail.com</h3>
            </a>
            <div class="h-9"></div>
            <a href="https://www.instagram.com/coccinellejaune35/">
                <Image src={instagram2} alt={"Instagram"} width={150} />
                <h3 class="text-blue-800 underline">coccinellejaune35</h3>
            </a>
        </div>
    </div>
</Layout>
