---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import happy from "@assets/img/happy.jpeg";
---

<Layout>
  <div class="flex lg:flex-row flex-col w-full p-4 items-center flex-1">
    <div class="lg:flex-1 lg:max-w-full max-w-xl mx-auto">
      <Image src={happy} alt={"Image de présentation"} />
    </div>

    <div class="flex-1">
      <div class="p-16">
        <h2 class="text-center text-3xl py-6">Rejoignez nous !</h2>
        <p>
          Si vous souhaitez rencontrer d'autres jeunes d'horizons différents
          pour partager des moments conviviaux. Rejoignez Coccinelle jaune!
        </p>
      </div>
    </div>
  </div>
</Layout>
