---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import happy from "@assets/img/happy.jpeg";
---

<Layout>
  <div class="flex lg:flex-row flex-col w-full p-4 items-center flex-1">
    <div class="lg:flex-1 lg:max-w-full max-w-xl mx-auto">
      <Image src={happy} alt={"Image de présentation"} />
    </div>

    <div class="flex-1">
      <div class="p-16">
        <h2 class="text-center text-3xl py-6">Rejoignez nous !</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
          culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
  </div>
</Layout>
