<div class="bg-yellow-300 h-36 w-full flex flex-wrap justify-between items-center text-2xl px-9 font-extrabold text-center flex-shrink-0">
    <a class="px-3" href="/association">L'association</a>
    <a class="px-3" href="/">Rejoignez-nous</a>
    <a class="px-3" href="/activites">Les activités</a>
    <a class="px-3" href="/contact">Contact</a>
</div>


