<div class="bg-yellow-300 h-36 w-full flex flex-wrap justify-between items-center text-2xl px-9 font-extrabold text-center">
    <a class="px-3" href="">L'association</a>
    <a class="px-3" href="">Les activités</a>
    <a class="px-3" href="">Contact</a>
</div>


